name: Ruff lint

on:
  push:
    branches: ["main"]
    paths:
      - "backend/**"
      - ".github/workflows/**"
  pull_request:
    branches: ["main"]
    paths:
      - "backend/**"
      - ".github/workflows/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            .github
            backend

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.15"

      - name: Install Dependencies
        working-directory: ./backend
        run: uv sync --all-groups

      - name: Lint
        working-directory: ./backend
        run: uv run ruff check
